/*estilos*/
.navbar{
    background-color: aqua;
    box-shadow: 0 2px 4px 0  rgba(109, 47, 150, 0.5);
    min-height: 10px; /*altura minima*/
}

.nav-link{
    color: green!important;
}
.nav-link:hover{
    color: salmon!important;
}
.bg-light text-center text-lg-start{
    background-color: #e3f2fd;
}
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-
    .content-center p {
        color:rgb(20, 20, 20);
    }align: center;
}
p{
    font-size: 18px;
    color:black;
    line-height: 1.8;
    margin-left: 0;    
}a:hover{
    text-decoration: none;

}
.contenedor-de-productos{
    position: relative;
    overflow: hidden;
    margin: 10px 5px;
    border-radius: 3px;
}
.cont{
    overflow: hidden;
}
.item{
    float:flex;
}
.contenedor-de-productos img{
    -moz-animation: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8;
}
.contenedor-de-productos:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform:  scale(1.2);
    transform: all 0.8;
}

footer a {
	color: rgba(0,0,0,1.00) !important;
	font-weight: bold !important;
}

footer {color:rgba(0,0,0,1.00) !important}
/* -------------------------------------------------------------------------*/

p{
    font-size: 18px;
    color:black;
    line-height: 1.8;
    margin-left: 0;

    
}
.content-center{
    margin-top: 40px;
    margin-bottom: 40px; !important
}
/* -------------------------------------------------------------------------*/

.pagina_contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid red;
}
.contenendor_De_Contenidos{
    margin-left: 20px;
    padding: 2px 16px;
    position: relative;

}
.contenendor_De_Contenidos img{
    width: 300px;

}
.contenendor_De_Contenidos h1{
    margin-left: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0  rgba(0, 0, 0, .5);
    background-color: white;

    
}    
.contenendor_De_Contenidos:hover{    
    box-shadow: 0 2px 4px 0  rgba(0, 0, 0, .5);    
}
/*--------------------------nuestror productos ----------*/
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url('../img/casa.PNG');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
/*-----------whatapps------*/
.whatsapp {
        position:fixed;
        
        margin-right: 400px;
        padding: 100px 20px;
      
}
/*-----------------------------n*/
.responsive-banner {
	margin: 80px auto;
	width: 40%;
	min-width: 230px;
	max-width: 330px;
	position: relative;
	height: auto;
	min-height: 300px;
	max-height: 500px;
	border-radius: 10px;
	overflow: hidden;
	background-image: linear-gradient(to bottom right, #D45BA1, #A784E0);
}
.container-envelope {
	padding: 35px 15px;
	color: #fff;
}
img {
	max-width : 330px;
	width: 100%;
	position: relative;
}
span:after,
span:before {
	content: "";
	position: absolute;
	display: block;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.1);
	width: 50px;
	height: 50px;
}
.circle-a:before {
	width: 500px;
	height: 500px;
	top: -300px; left: 52%;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
}
.circle-a:after {
	top: 160px;
	right: 10%;
}
.circle-b:before {
	top: 60%;
	left: -25px;
}
.circle-b:after {
	width: 150px;
	height: 150px;
	bottom: -70px;
	right: -70px;
}
/*----------------------------------FORMULARIO-----------*/
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}